<?xml version="1.0" encoding="UTF-8"?>
<javaee:web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <javaee:servlet>
    <javaee:servlet-name>HelloServlet</javaee:servlet-name>
    <javaee:servlet-class>com.zhuhang.servlet.HelloServlet</javaee:servlet-class>
    <javaee:init-param>
      <javaee:param-name>name</javaee:param-name>
      <javaee:param-value>Demo</javaee:param-value>
    </javaee:init-param>
    <javaee:init-param>
      <javaee:param-name>password</javaee:param-name>
      <javaee:param-value>123456</javaee:param-value>
    </javaee:init-param>
    <javaee:init-param>
      <javaee:param-name>charset</javaee:param-name>
      <javaee:param-value>utf-8</javaee:param-value>
    </javaee:init-param>
  </javaee:servlet>
  <javaee:servlet-mapping>
    <javaee:servlet-name>HelloServlet</javaee:servlet-name>
    <javaee:url-pattern>/HelloServlet</javaee:url-pattern>
  </javaee:servlet-mapping>
  <javaee:servlet>
    <javaee:servlet-name>Checkbox</javaee:servlet-name>
    <javaee:servlet-class>com.zhuhang.servlet.Checkbox</javaee:servlet-class>
  </javaee:servlet>
  <javaee:servlet-mapping>
    <javaee:servlet-name>Checkbox</javaee:servlet-name>
    <javaee:url-pattern>/checkbox</javaee:url-pattern>
  </javaee:servlet-mapping>
  <javaee:servlet>
    <javaee:servlet-name>ContextGet</javaee:servlet-name>
    <javaee:servlet-class>com.zhuhang.servlet.ServletContextGet</javaee:servlet-class>
  </javaee:servlet>
  <javaee:servlet-mapping>
    <javaee:servlet-name>ContextGet</javaee:servlet-name>
    <javaee:url-pattern>/contextget</javaee:url-pattern>
  </javaee:servlet-mapping>
  <javaee:servlet>
    <javaee:servlet-name>ContextSet</javaee:servlet-name>
    <javaee:servlet-class>com.zhuhang.servlet.ServletContextSet</javaee:servlet-class>
  </javaee:servlet>
  <javaee:servlet-mapping>
    <javaee:servlet-name>ContextSet</javaee:servlet-name>
    <javaee:url-pattern>/contextset</javaee:url-pattern>
  </javaee:servlet-mapping>
  <javaee:context-param>
    <javaee:param-name>url</javaee:param-name>
    <javaee:param-value>localhost:8080/webDemo</javaee:param-value>
  </javaee:context-param>
</javaee:web-app>